<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Ecom test flow">

<listeners>
		<listener class-name="com.ecom.qa.base.TestListener" />
	</listeners>
	<parameter name="browserType" value="chrome" />
	<parameter name="appURL" value="https://www.saucedemo.com/" />
	
	<test name="Ecom Swag Labs" group-by-instances="true">
		<classes>
	
			<class name="com.ecom.qa.testcases.ThankyouPageTest"></class>

		</classes>
	</test>
</suite>